Source: libnet-citadel-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Maintainer: Robert James Clay <jame@rocasa.us>
Standards-Version: 3.9.1
Vcs-Git: git://github.com/jame/Net-Citadel.git
Vcs-Browser: http://github.com/jame/Net-Citadel
Homepage: http://search.cpan.org/dist/Net-Citadel/

Package: libnet-citadel-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Citadel.org protocol coverage
 Citadel is a "turnkey open-source solution for email and collaboration". The
 main component is the citadel server. To communicate with it you can use either
 a web interface, or - if you have  to automate things - with a protocol. This
 package tries to do a bit of abstraction and  handles some of the protocol
 handling. The basic idea is that the application using the package deals with
 Citadel's objects: rooms, floors, users.
